body {
  padding-top: 60px;
}

.tableling table {
  width: 100%;
  clear: both;
}

.tableling .author {
  width: 30em;
}

.tableling .year {
  width: 15em;
}

.tableling .pagination {
  margin-top: 0;
}

table thead .sorting,
table thead .sorting-asc,
table thead .sorting-desc {
    cursor: pointer;
}
 
table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table thead .sorting-asc { background: url('images/sort_asc.png') no-repeat center right; }
table thead .sorting-desc { background: url('images/sort_desc.png') no-repeat center right; }
